/* Navbar */

.nav{
    padding-left: 3vw;
    position: fixed;
    overflow: hidden;
    bottom:0;
    width: 100%;
    z-index: 10;
}

.nav-link{
    padding: 2vh 12vw;
    color: black;
    font-weight: bold;
}

.fa-tasks{
    padding-left: 7vw;
}


/* Create page */
.create-p{
    background-color: #b3ffff;
    height: 100vh;
    width:auto;
}

.dot-c{
    position: absolute;
    width:100vw;
    height:65vh;
    /* margin-top: -40vh; */
    background-color: white;
    /* clip-path: circle(55%); */
    clip-path: circle(52vw at 50% 0);
}

.clip1{
    position: absolute;
    top:10vh;
    left: 43vw;
    /* width:18vw;
    height:10vh; */
    width: 60px;
    height: 60px;
}

.save{
    position: absolute;
    background-color: #ffb3b3;
    color: white;
    border: 2px solid grey;
    border-radius: 50%;
    z-index: 1;
    width:8vh;
    height: 8vh;
    font-weight: 650;
    font-size: 2vh;
    margin-top: 77vh;
    margin-left: 44vw;
}

.create{
    position: absolute;
    background-color: #b3ffff;
    top: 44vh;
    left: 16vw;
    width: 69vw;
    height: 22vh;
    border-radius: 10px;
    border: 2px solid grey;
}

.create-b{
    position: absolute;
    background-color: #b3ffff;
    top: 43vh;
    left: 14vw;
    width: 73vw;
    height: 24.5vh;
    border-radius: 10px;
    box-shadow: 2px 4px 3px rgba(88,88,88,0.425),
                -2px -2px 3px white;
}

.content{
    position: absolute;
    width: 100vw;
    height: 45vh;
    top:32vh;
    text-align: center;
    overflow: auto;
}


/* Create Task and Update page */

.new-b{
    position: absolute;
    background-color: #b3ffff;
    border-radius: 50%;
    z-index: 0;
    width:9.5vh;
    height: 9.5vh;
    font-weight: 650;
    margin-top: 76.3vh;
    margin-left: 42.6vw;
}

.dot-s1{  
    filter:drop-shadow(0 -4px 3px rgba(255,255,255,0.425))
        drop-shadow(0 4px 3px rgba(88,88,88,0.425));
}


/* Task Page */

.task-p{
    background-color: #ffb3b3;
    height: 100vh;
    width:auto;
}

.dot-t{
    position: absolute;
    margin-top: 4vh;
    width:100vw;
    height:73vh;
    background-color: #ffb3b3;
    clip-path: circle(53.3% at 50% 50%);
}

.clip{
    position: absolute;
    top: 2vh;
    left: 42vw;
    width: 60px;
    height: 60px;
}

#task{
    position: absolute;
    width: 100vw;
    height: 41vh;
    top:20vh;
    text-align: center;
    overflow: auto;
}

.item{
    width: 90vw;
    margin-top: 2vh;
    margin-left:5vw;
    margin-bottom: 1vh;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 6px 3px rgba(88,88,88,0.425),
                -2px -2px 3px white;
}

.new{
    position: absolute;
    background-color: #b3ffff;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 1;
    width:8vh;
    height: 8vh;
    font-weight: 650;
    font-size: 2vh;
    margin-top: 77vh;
    margin-left: 44vw;
}

/* Update page */
.content-u{
    position: absolute;
    width: 100vw;
    height: 34vh;
    top: 41vh;
    text-align: center;
    overflow: auto;
}

input[type=checkbox]{
    width: 3vh;
    height: 3vh;
    padding: 0 2vw;
}



@media screen and (max-width: 310px){
    .clip{
        top:5vh
    }
}

@media screen and (min-width: 380px){
    .clip{
        top:1vh
    }

    #task{
        height: 37vh;
        top:22vh
    }

    .new{
        margin-top: 79vh;
    }

    .save{
        margin-top: 79vh ;
    }

    .new-b{
        margin-top:78.3vh
    }
}

@media screen and (min-width: 410px){

    .content{
        top:35vh
    }
    .clip{
        top:2vh
    }

    .dot-t{
        height:73vh;
        margin-top:4vh;
    }
    #task{
        height: 40vh;
        top:21vh
    }

    .new{
        margin-top: 79vh;
    }

    .save{
        margin-top: 79vh ;
    }

    .new-b{
        margin-top:78.3vh
    }
}
